

<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4" data-hook>
          <h1> Lotus Delivery </h1>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
  
  <ul class="jetmenu">
     <li class="active"><%= link_to Spree.t(:home), spree.root_path %></li>
     <script>Spree.fetch_cart()</script>
     <li><a href="#">Groceries</a>
          <div class="megamenu">
               <div class="col1"></div>
                    <div class="col1">Item</div>
                    <div class="col1">Item</div>
                    <div class="col1">Item</div>
                    <div class="col1">Item</div>
                    <div class="col1">Item</div>
          </div>
     </li>
    <li><a href="#">Household</a></li>
    <li><a href="#">Recipes</a></li>
    <li><%= link_to Spree.t(:cart), '/cart' %></li>

</ul>

</div>
